body {
  margin: 0;
  padding: 0;
  background-color: #1a202c;
  height: 100vh;
  overflow: hidden;
}

.mobile-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.scene-controls {
  background-color: #1a1a1a;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.solo-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px;
}
.color-control {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.double-color-control {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 8px;
  gap: 8px;
  .react-colorful {
    width: 40vw;
    max-width: 180px;
    height: 40vw;
    max-height: 180px;
  }
}
.slider-control {
  padding: 8px 16px;
}
.tile-control {
  padding: 8px 14px;
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 12px;
  .tile {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: 2px solid #444;
  }
  .text-tile {
    font-size: 18px;
    border-radius: 26px;
    border: 2px solid #444;
    padding: 3px 16px 5px;
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .tile.active,
  .text-tile.active {
    border-color: #fff097;
  }
}
.tile-control.center {
  justify-content: center;
}
.tile-control.buttons {
  padding-top: 12px;
}

.info {
  padding: 8px 12px;
  border-bottom: 1px solid #252525;
  border-top: 1px solid #252525;
  font-size: 0.8em;
}
